html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: $text-font-stack;
  font-size: $base-font-size;
}

h1{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;

}

h2{
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-font-color;
  height: 100%;
  width: 100%;
}

