html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: $text-font-stack;
  font-size: $base-font-size;
}

h1{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

h2{
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #2a9d8f;
  display: inline-block;
  padding: 3px;
}


#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-font-color;
  height: 100%;
  width: 100%;
}

