.app-header {
  height: $header-default-height;
  position: sticky;
  width: 100%;
  top: 0px;
  left: 0px;
  background: $secondary-color;
  color: $secondary-font-color;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
