.app-header {
  height: $header-default-height;
  width: 100%;
  background: $secondary-color;
  color: $secondary-font-color;
  z-index: 1000;
  @include flex-center;
  
  &__container {
    @include container;
  }
  &__title{
    font-size: 1.5rem;
  }
}
